<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div th:replace="header :: header-after-login">a</div>
    <!--<div th:replace="header :: header-before-login">a</div>-->

    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li th:each="category : ${categories}" class="list-group-item list-group-item-primary">
                    <a class="nav-link" th:text="${category.name}" href="#"></a>
                </li>
            </ul>
            <div class="list-group-item list-group-item-primary">
                <button class="btn btn-primary btn-block">Add category</button>
            </div>
        </div>
        <div class="col-10">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="table-success">Product</th>
                    <th class="table-success">Category</th>
                    <th class="table-success">Quantity</th>
                    <th class="table-success">Price</th>
                    <th class="table-success">Option</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <th class="table-warning" th:text="${product.name}"></th>
                    <td class="table-warning"></td>
                    <td class="table-warning" th:text="${product.quantity}"></td>
                    <td class="table-warning" th:text="${product.price}"></td>
                    <td class="table-danger">
                        <button class="btn btn-primary">BUY</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="footer :: footer">a</div>






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>