<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <button th:onclick="'window.location.href = \'' + @{/logout} + '\''" class="btn btn-primary">Logout</button>
        </div>
    </div>
</nav>

<!-- Modal for errors -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warrning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="error-message"></div>
        </div>
    </div>
</div>

<!-- Modal for movie -->
<div class="modal fade bd-example-modal-lg" id="movie-details-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Movie details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="movie-details"></div>
        </div>
    </div>
</div>


<div class="py-5 bg-light">
    <div class="container">
        <div class="row" id="films-list">
            <!-- pattern for books -->
            <div class="col-md-3" id="film-pattern"  th:each="t : ${titles}">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <p class="card-text" style="text-align:center;" th:text = ${t.title}></p>
                        <p class="card-text" style="text-align:center;" th:text = ${t.author}></p>
                        <p class="card-text" style="text-align:center;" th:text = ${t.spendYear}></p>
                        <p class="card-text" style="text-align:center;" th:text = ${t.type}></p>
                        <div class="d-flex justify-content-between">
                            <div class="btn-group">
                                <button th:onclick="'window.location.href = \'' + @{/library/book/rent/}+${t.titleId} + '\''" class="btn btn-sm btn-outline-secondary">Rent</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-center" id="more-movies-div" style="display: none;">
            <button id="more-movies-btn" class="btn btn-primary">Load more books!</button>
        </div>
    </div>
</div>


<div class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p>Album example is Â© Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting started guide</a>.</p>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/mainPage.js"></script>
</body>
</html>





